{% extends "admin/layout.html.twig" %}

{% block title %}
    Gestión de formaciones {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="text-center main-title mx-auto my-5">
            <h3 class="text-center mt-4 mb-3">GESTIÓN DE FORMACIONES</h3>
        </div>

        <table class="table training-list mx-auto">
            <tr>
                <th>Última edición</th>
                <th>Usuario</th>
                <th>Nº bloques</th>
                <th>Nº participantes</th>
                <th>Estado</th>
                <th>Fecha propuesta</th>
                <th>Acciones</th>
            </tr>

            {% for training in trainings %}
                <tr>
                    <td>{{ training.updatedAt|date("d-m-Y H:i") }}</td>
                    <td>{{ training.user.name }} - {{ training.user.companyName }}</td>
                    <td>{{ training.blocks|length }} bloques</td>
                    <td>{{ training.competitors|length }} participantes</td>
                    <td class="d-flex justify-content-center">
                        <span class="training-status {{ training.getStatus()['color'] }}">
                            {{ training.getStatus()['label'] }}
                        </span>
                    </td>
                    <td>{{ training.datetime is not empty ? training.datetime|date("d-m-Y H:i") }}</td>
                    <td>
                        {% if training.enabled %}
                            <a class="text-secondary" href="{{ path('admin_training_disable', {idTraining : training.id}) }}">Desaprobar</a> |
                        {% else %}
                            <a class="text-success" href="{{ path('admin_training_enable', {idTraining : training.id}) }}">Aprobar</a> |
                        {% endif %}

                        <a class="text-danger" href="{{ path('admin_training_delete', {idTraining : training.id}) }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}