{% extends "admin/layout.html.twig" %}

{% block body %}
    <div class="container">
        <div class="text-center main-title mx-auto my-5">
            <h3 class="text-center mt-4 mb-3">GESTIÓN DE FORMACIONES</h3>
        </div>

        <table class="table training-list mx-auto">
            <tr>
                <th>Última edición</th>
                <th>Nº bloques</th>
                <th>Nº participantes</th>
                <th>Fecha propuesta</th>
                <th>Estado</th>
                <th>Acciones</th>
            </tr>

            {% for training in trainings %}
                <tr>
                    <td>{{ training.updatedAt|date("d-m-Y H:i") }}</td>
                    <td>{{ training.blocks|length }} bloques</td>
                    <td>{{ training.competitors|length }} participantes</td>
                    <td>{{ training.datetime|date("d-m-Y H:i") }}</td>
                    <td class="d-flex justify-content-center">
                    <span class="training-status{% if training.enabled %} enabled{% elseif training.isCompleted %} completed{% elseif training.isCompleted == false %} incompleted{% endif %}">
                        {% if training.enabled %}Aprobada{% elseif training.isCompleted %}Completada{{ training.sent? ' y enviada' }}{% elseif training.isCompleted == false %}Incompleta{% endif %}
                    </span>
                    </td>
                    <td>
                        <a href="{{ path('users_training_edit', {idTraining : training.id}) }}">Editar</a> |
                        <a class="text-danger" href="{{ path('users_training_delete', {idTraining : training.id}) }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}