{% extends "admin/layout.html.twig" %}

{% block title %}
    Gestión de usuarios{{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center main-title mx-auto mb-5">
        <h3 class="text-center mt-4 mb-3">GESTIÓN DE USUARIOS</h3>
    </div>

    <div class="table-responsive">
        <table class="table users-list mx-auto">
            <tr>
                <th>Estudio</th>
                <th>Dirección</th>
                <th>País</th>
                <th>Ciudad</th>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Email</th>
                <th>Alta</th>
                <th>Habilitado</th>
                <th>Acciones</th>
            </tr>

            {% for user in users %}
                <tr>
                    <td title="{{ user.companyName }}">{{ user.companyName }}</td>
                    <td title="{{ user.address }}">{{ user.address }}</td>
                    <td title="{{ user.country }}">{{ user.country }}</td>
                    <td class="city-column" title="{{ user.city.getLabel() }}">{{ user.city.getLabel() }}</td>
                    <td class="name-column" title="{{ user.name }}">{{ user.name }}</td>
                    <td title="{{ user.phone }}">{{ user.phone }}</td>
                    <td class="email-column" title="{{ user.email }}">{{ user.email }}</td>
                    <td class="insert-column" title="{{ user.createdAt|date('d/m/Y') }}">{{ user.createdAt|date('d/m/Y') }}</td>
                    <td class="enabled-user-column">
                        {% if user.enabled %}
                            <img src="{{ asset('assets/icon/ok.svg') }}">
                        {% else %}
                            <img src="{{ asset('assets/icon/close.svg') }}">
                        {% endif %}
                    </td>
                    <td class="edit-user-column">
                        {% if user.enabled %}
                            <a href="{{ path('admin_user_disable', {idUser: user.id}) }}" class="text-danger">Denegar</a>
                        {% else %}
                            <a href="{{ path('admin_user_enable', {idUser: user.id}) }}">Aprobar</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}