{% extends "admin/layout.html.twig" %}

{% block title %}
    Gestión de formaciones {{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center main-title mx-auto mb-5">
        <h3 class="text-center mt-4 mb-3">GESTIÓN DE FORMACIONES</h3>
    </div>

    <div class="table-responsive">
        <table class="table training-list mx-auto">
            <tr>
                <th>Última edición</th>
                <th>Usuario</th>
                <th>Nº bloques</th>
                <th>Nº participantes</th>
                <th>Estado</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>

            {% for training in trainings %}
                <tr>
                    <td>{{ training.updatedAt|date("d-m-Y H:i") }}</td>
                    <td class="training-list-user" title="{{ training.user.name }} - {{ training.user.companyName }} ({{ training.user.city }})">{{ training.user.name }} - {{ training.user.companyName }} ({{ training.user.city }})</td>
                    <td>
                        {{ training.blocks|length }} bloques
                        <img class="blocks-info" role="button" alt="info" data-id="{{ training.id }}" src="{{ asset('assets/icon/info.svg') }}" title="Mostrar más info">
                    </td>
                    <td>{{ training.competitors|length }} participantes</td>
                    <td class="d-flex justify-content-center">
                    <span class="training-status {{ training.getStatus()['color'] }}">
                        {{ training.getStatus()['label'] }}
                    </span>
                    </td>
                    <td>{{ training.datetime is not empty ? training.datetime|date("d-m-Y H:i") }}</td>
                    <td>
                        {% if training.enabled %}
                            <a class="text-secondary" href="{{ path('admin_training_disable', {idTraining : training.id}) }}">Desaprobar</a> |
                        {% elseif training.sent %}
                            <a class="text-success" href="{{ path('admin_training_enable', {idTraining : training.id}) }}">Aprobar</a> |
                            <a class="text-dark" href="{{ path('admin_training_deny', {idTraining : training.id}) }}" title="Se denegará la petición de solicitud y se notificará al usuaio por correo que cambie las condiciones.">Denegar</a> |
                        {% endif %}

                        <a class="text-danger" href="{{ path('admin_training_delete', {idTraining : training.id}) }}">Borrar</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        let totalTime = 0;

        (function($) {
            'use strict';

            $('.blocks-info').click(function () {
                $.ajax({
                    context: this,
                    url: 'formaciones/'+ $(this).data('id') +'/blocks-info',
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        Swal.fire({icon: 'info', html: data});
                    },
                    error: function (data) {
                        showModal('warning', data);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}