{% extends "admin/layout.html.twig" %}

{% block title %}
    Gestión de usuarios{{ parent() }}
{% endblock %}

{% block body %}
    <div class="text-center main-title mx-auto mb-4">
        <h3 class="text-center mt-4 mb-3">GESTIÓN DE USUARIOS</h3>
    </div>

    <div class="table-responsive">
        <div class="training-list mx-auto">
            <div class="training-filters">
                <form method="get" action="{{ path('admin_users_management') }}" class="d-flex my-3">
                    <div class="training-filters-search mr-3">
                        <input type="text" name="search" placeholder="Buscar nombre o estudio" value="{{ app.request.get('search', '') }}" class="px-3 py-2 pl-1 pr-5">

                        <a href="{{ path('admin_users_management') }}"><img src="{{ asset('assets/icon/close.svg') }}"></a>
                    </div>

                    <input type="submit" value="Buscar">
                </form>
            </div>

            <table class="table users-list mx-auto">
                <tr>
                    <th>Estudio</th>
                    <th>Dirección</th>
                    <th>País</th>
                    <th>Ciudad</th>
                    <th>Nombre</th>
                    <th>Teléfono</th>
                    <th>Email</th>
                    <th>Alta</th>
                    <th>Habilitado</th>
                    <th>Acciones</th>
                </tr>

                {% for user in users %}
                    <tr>
                        <td title="{{ user.companyName }}">{{ user.companyName }}</td>
                        <td title="{{ user.address }}">{{ user.address }}</td>
                        <td title="{{ user.country }}">{{ user.country }}</td>
                        <td class="city-column" title="{{ user.city.getLabel() }}">{{ user.city.getLabel() }}</td>
                        <td class="name-column" title="{{ user.name }}">{{ user.name }}</td>
                        <td title="{{ user.phone }}">{{ user.phone }}</td>
                        <td class="email-column" title="{{ user.email }}">{{ user.email }}</td>
                        <td class="insert-column" title="{{ user.createdAt|date('d/m/Y') }}">{{ user.createdAt|date('d/m/Y') }}</td>
                        <td class="enabled-user-column">
                            {% if user.denied %}
                                <img src="{{ asset('assets/icon/close.svg') }}">
                            {% elseif user.enabled %}
                                <img src="{{ asset('assets/icon/ok.svg') }}">
                            {% endif %}
                        </td>
                        <td class="edit-user-column">
                            {% if user.enabled %}
                                <a href="{{ path('admin_user_disable', {idUser: user.id}) }}" class="text-danger">Quitar acceso</a>
                            {% else %}
                                <a href="{{ path('admin_user_enable', {idUser: user.id}) }}">Aprobar</a>
                                {% if user.denied == false %}
                                    | <a href="#" class="deny-user text-danger" data-email="{{ user.email }}" data-url="{{ path('admin_user_deny', {idUser: user.id}) }}">Denegar</a>
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>

            {% include 'pagination.html.twig' with {
                currentFilters: app.request.query.all,
                paginationPath: 'admin_users_management',
                lastPage: (users|length / maxResults)|round(0, 'ceil')
            } only %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        (function($) {
            'use strict';

            $('.deny-user').on('click',function (e) {
                e.preventDefault();
                let email = $(this).data('email');
                let url = $(this).data('url');

                Swal.fire({
                    html: '<p>No se enviará email al arquitecto con la notificación de rechazo. Por favor, ponte en contacto directamente con él para gestionar su caso de manera personalizada</p>'
                    + '<a href="mailto:' + email + '">Enviar email a '+ email +'</a>'
                    ,
                    showDenyButton: true,
                    showConfirmButton: false,
                    showCancelButton: true,
                    denyButtonText: `Denegar petición`,
                    cancelButtonText: 'Cancelar',
                }).then((result) => {
                    if (result.isDenied) {
                        window.location.href = url;
                    }
                })
            });

        })(jQuery);
    </script>
{% endblock %}