{% extends "base.external.html.twig" %}

{% block title %}
    Bienvenido {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row justify-content-center principal">
            <div class="col-md-12 text-center">
                <p class="imgprincipal"><img src="{{ asset('assets/img/Knauf_logo_Grande.svg') }}" alt="" class="img-fluid" class="img-responsive"></p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8 text-center">
                <p class="hometit">Te presentamos un nuevo concepto de <span style="font-family:FuturaStd-Heavy;">formación online y networking</span></p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row segundafila">
            <div class="col-md-6" style="text-align: center;">
                <img src="{{ asset('assets/img/KnaufBreakfast.png') }}" alt="" class="img-fluid" class="img-fluid">
            </div>
            <div class="col-md-6" style="align-self: center;">
                <p>Un nuevo concepto de <span style="font-family:FuturaStd-Heavy;">formación especializada,</span> a la carta y centrada en las necesidades de proyecto. Elige entre los bloques disponibles y configura la sesión según tus intereses. Además, la iniciativa va acompañada de un <span style="font-family:FuturaStd-Heavy;">exclusivo desayuno sostenible, saludable y personalizado</span> que te ayudará a sacar el máximo partido a cada una de las sesiones modulares.</p>
            </div>
        </div>
    </div>
    <div class="container-fluid tercera">

        <div class="col-md-12">
            <p style="max-width: 37.5rem;margin: auto;">Elige los módulos que mejor se adapten a la actividad del estudio</p>
        </div>

    </div>
    <div class="container-fluid cuarto">
        <div class="row justify-content-center mx-auto block-list">
            {% for key, block in blocks %}
                {% if key == 0 or key == 8 or key == 16 %}
                    <div class="block-column {{ key == 7 ? 'grey' : 'white' }} col-12 col-lg-4 px-0">
                {% endif %}

                <div class="block-container d-flex align-items-center">

                    <div class="block-image mx-auto">
                        <img src="{{ asset('assets/img/bloque' ~ block.id ~ '.svg') }}">
                    </div>
                </div>

                {% if key == 7 or key == 15 or key == 21 %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    <div class="container quinto">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <p class="textoquinto">Y, además, disfruta del desayuno de trabajo que enviaremos a tu oficina para acompañarnos mientras <span style="font-weight: 900;color:#009DE0;font-family: FuturaStd-Heavy;"> conectamos </span></p>
            </div>
        </div>
    </div>

    <div class="row mx-0 index-video">
        <div class="col-12 col-lg-6 index-video-info">
            <p class="px-5 my-5">En los primeros 6 meses se han impartido más de 30 ediciones. Haz click más abajo para recibir más información.</p>
            <p style="text-align: center;"><button class="btn btnsexto" id="botone" onclick="abrir()" data-text="QUIERO RECIBIR MÁS INFORMACIÓN">QUIERO RECIBIR MÁS INFORMACIÓN</button></p>
        </div>

        <div class="col-12 col-lg-6 index-video-mp4">
            <video poster="{{ asset('assets/img/index-video.JPG') }}" controls>
                <source src="{{ asset('assets/video/KNAUF_BREAK_MASTER_160921_V2.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

    <div class="container septimo" id="desaparecer">
        <div class="row justify-content-center">


            <div class="col-md-10 col-md-offset-2">
                <form class="needs-validation studio-data-form signin-form" novalidate="" action="{{ path('signin') }}" method="POST">

                    <div class="form-row">
                        <div class="col-md-12 mb-3">

                            <input type="text" class="form-control" id="validationCustom01" value="" name="companyName"
                                   required="" placeholder="*NOMBRE DEL ESTUDIO">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">

                            <input type="text" class="form-control" id="validationCustom02" value="" name="address"
                                   required="" placeholder="*DIRECCIÓN">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3 mt-2">
                            <label for="validationCustom03">PAÍS</label>
                            <select id="A" class="custom-select mb-3" name="country" required="">
                                <option value="España">España</option>
                                <option value="Portugal">Portugal</option>
                            </select>
                        </div>

                        <div class="col-md-6 mb-3 mt-2">
                            <label for="validationCustom04" class="">PROVINCIA</label>
                            <select id="B" class="custom-select mb-3" name="city" required="">
                            </select>

                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">

                            <input type="number" class="form-control" id="validationCustom05" value="" name="postalCode" required=""
                                   placeholder="*CP">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">

                            <input type="text" class="form-control" id="validationCustom06" value="" name="municipality"
                                   required="" placeholder="*MUNICIPIO">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-6 mb-3">

                            <input type="text" class="form-control" id="validationCustom07" value="" name="name"
                                   required="" placeholder="*PERSONA DE CONTACTO">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                        <div class="col-md-6 mb-3">

                            <input type="text" class="form-control" id="validationCustom08" value=""
                                   name="phone" required=""
                                   placeholder="*TELÉFONO DE LA PERSONA DE CONTACTO">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="col-md-12 mb-3">

                            <input type="mail" class="form-control" id="validationCustom09" value="" name="email"
                                   pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required=""
                                   placeholder="*EMAIL DE LA PERSONA DE CONTACTO">
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                campo rellenado correctamente!
                            </div>
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col-md-12 mb-3">

                    <textarea class="form-control" id="validationCustom10" value="" name="commentary" pattern=""
                              rows="4" cols="50" placeholder="COMENTARIOS"></textarea>
                            <div class="invalid-feedback">
                                Por favor rellene este campo
                            </div>
                            <div class="valid-feedback">
                                ¡Campo rellenado correctamente!
                            </div>
                        </div>
                    </div>
                    <p style="text-align: center;">
                        <button type="button" class="btn btnsexto signin">Enviar</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('assets/js/messages_es.js') }}"></script>
    <script src="{{ asset('assets/js/additional-methods.min.js') }}"></script>

    <script>

        $('.signin').click(function (e) {
            jQuery.validator.addMethod("validate_email", function(value, element) {

                if (/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/.test(value)) {
                    return true;
                } else {
                    return false;
                }
            }, "Please enter a valid Email.");

            if ($('.signin-form').valid()) {
                let formData = $('.signin-form').serialize();

                $.ajax({
                    context: this,
                    url: '{{ path('signin') }}',
                    dataType: 'JSON',
                    type: 'POST',
                    data: formData,
                    success: function (data) {
                        if (data === true) {
                            Swal.fire({icon: 'success', text: 'Hemos recibido la solicitud de información correctamente. En breve, recibirás un email de confirmación por parte del equipo de prescripción.'});
                        } else {
                            showModal('warning', data);
                        }
                    },
                    error: function (data) {
                        showModal('warning', data);
                    }
                });
            }
        });

        var cities = [
                {% for key, city in getCitiesList() %}
                    ["{{ key }}", "{{ city }}"],
                {% endfor %}
            ]

        let citiesSpain;
        let citiesPortugal;
        
        //Cargamos paises y provincias
        $( document ).ready(function() {
            for (let i = 0; i < 52; i++) {
                citiesSpain += '<option value="' + cities[i][0] + '">'+ cities[i][1] +'</option>';
            }

            for (let i = 52; i < cities.length; i++) {
                citiesPortugal += '<option value="' + cities[i][0] + '">'+ cities[i][1] +'</option>';
            }

            $('select[name=city]').append(citiesSpain);
        });

        $('select[name=country]').change(function () {
            $('select[name=city]').empty();

            if ($(this).val() == 'España') {
                $('select[name=city]').append(citiesSpain);
            } else {
                $('select[name=city]').append(citiesPortugal);
            }
        });


        pulsado = 0;

        function abrir() {
            if (pulsado == 0) {
                document.getElementById('desaparecer').classList.remove('desaparece');
                document.getElementById('desaparecer').classList.add('aparece');
                document.getElementById('botone').setAttribute("data-text", "QUIERO RECIBIR MÁS INFORMACIÓN");
                document.getElementById('botone').innerHTML = "QUIERO RECIBIR MÁS INFORMACIÓN";
                pulsado = 1;

                $('html, body').animate({
                    scrollTop: $("#desaparecer").offset().top
                }, 1000);

                return;
            } else if (pulsado == 1) {
                document.getElementById('desaparecer').classList.remove('aparece');
                document.getElementById('desaparecer').classList.add('desaparece');
                document.getElementById('botone').setAttribute("data-text", "QUIERO RECIBIR MÁS INFORMACIÓN");
                document.getElementById('botone').innerHTML = "QUIERO RECIBIR MÁS INFORMACIÓN";
                pulsado = 0;
            }
        }
    </script>
{% endblock %}