{% extends "users/layout.html.twig" %}

{% set curPage = 'competitors' %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/training.css') }}" />
{% endblock %}

{% block body %}
    <div class="text-center main-title mx-auto mx-3 pt-3">
        <h3 class="text-center mt-4 mb-">REGISTRA PARTICIPANTES EN LA FORMACIÓN</h3>
    </div>

    <div class="d-flex mt-4 justify-content-center">
        <form action="{{ path('users_training_competitors_add') }}" method="post">
            <table class="table table-responsive competitors-list mx-auto">
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Email</th>
                    <th>Puesto</th>
                    <th>Intolerancias</th>
                    <th>Acciones</th>
                </tr>

                {% for competitor in competitors %}
                    <tr>
                        <td><input name="competitor[{{ competitor.id }}]" type="checkbox"{{ competitor.id in seletedcompetitorsIds ? ' checked' }}></td>
                        <td class="competitor-name">{{ competitor.name }}</td>
                        <td class="competitor-surname">{{ competitor.surname }}</td>
                        <td class="competitor-email">{{ competitor.email }}</td>
                        <td class="competitor-position">{{ competitor.position }}</td>
                        <td class="competitor-intolerances">{{ competitor.foodIntolerances }}</td>
                        <td>
                            <a href="{{ path('users_training_competitors_delete', { idCompetitor : competitor.id }) }}" class="text-danger">Borrar</a>
                        </td>
                    </tr>
                {% endfor %}
            </table>

            <div role="button" class="add-competitor mt-3">
                + Nuevo participante
            </div>

            <div class="col-12 d-flex justify-content-center my-5">
                <input class="btn btnsexto block-send mr-3" value="Guardar" type="submit">
                {% if app.session.get('training') is not empty and app.session.get('training').sent != true %}
                    <button type="button" class="btn btnsexto end-training">Enviar solicitud</button>
                {% elseif app.session.get('training') is not empty and app.session.get('training').sent == true %}
                    <button type="button" class="btn btnsexto cancel-training bg">Cancelar solicitud</button>
                {% endif %}
            </div>
        </form>
    </div>

    <div class="popup-edit-competitor">
        <div class="d-flex justify-content-center align-items-center h-100">
            <form class="align-self-center" id="createCompetitor" action="{{ path('users_training_competitors_create') }}" method="post">
                <div class="title-popup-edit-competitor mb-3"><span>NUEVO</span> PARTICIPANTE</div>

                <div> <input type="text" name="name" placeholder="Nombre" required></div>
                <div><input type="text" name="surname" placeholder="Apellido" required></div>
                <div><input type="text" name="email" placeholder="Email" required></div>
                <div><input type="text" name="position" placeholder="Puesto" required></div>
                <div><input type="text" name="foodIntolerances" placeholder="Intolerancias alimentarias"></div>

                <div><input type="submit" value="Añadir"></div>
            </form>
        </div>

        <div role="button" class="close-popup-edit-competitor">
            <img src="{{ asset('assets/icon/close.svg') }}">
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        (function($) {
            'use strict';

            $('.add-competitor').click(function(e) {
                $('.popup-edit-competitor').show('200');
            });

            $('.close-popup-edit-competitor').click(function () {
                $('.popup-edit-competitor').hide('200');
            });

            $('.end-training').click(function () {
                $.ajax({
                    context: this,
                    url: '{{ path('users_training_request') }}',
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                        window.location.replace(window.location.href);
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });

            $('.cancel-training').click(function () {
                $.ajax({
                    context: this,
                    url: '{{ path('users_training_cancel') }}',
                    dataType: 'JSON',
                    type: 'POST',
                    success: function (data) {
                        alert(data);
                        window.location.replace(window.location.href);
                    },
                    error: function (err) {
                        alert(err);
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}