{% extends "users/layout.html.twig" %}

{% block steps %}
<!-- Steps bar -->
<div class="steps-bar my-5 d-flex justify-content-between mx-auto">
    <a href="{{ path('users_training_studio') }}">
        <div class="step{% if curPage == 'studio' %} active{% endif %}">
            <span>1</span>

            <div class="step-state{{ app.session.get('training') is not empty and app.session.get('training').studioConfirmed ? ' completed' }}"></div>

            <div class="step-info">
                {{ app.session.get('training') is not empty and app.session.get('training').studioConfirmed ? app.user.companyName ~ ' - ' ~ app.user.city }}
            </div>
        </div>
    </a>

    <a href="{{ path('users_training_blocks') }}">
        <div class="step{% if curPage == 'blocks' %} active{% endif %}">
            <span>2</span>

            <div class="step-state{{ app.session.get('training') is not empty and app.session.get('training').blocks is not empty ? ' completed' }}"></div>

            <div class="step-info">
                {% if app.session.get('training') is not empty and app.session.get('training').blocks is not empty %}
                    {{ app.session.get('training').blocks|length }} bloques seleccionados <br> {{ getTime(app.session.get('training')) }}
                {% endif %}
            </div>
        </div>
    </a>

    <a href="{{ path('users_training_date') }}">
        <div class="step{% if curPage == 'date' %} active{% endif %}">
            <span>3</span>

            <div class="step-state{% if app.session.get('training') is not empty and app.session.get('training').datetime is not empty %} {{ app.session.get('training').enabled ? ' completed' : ' waiting'}}{% endif %}"></div>

            <div class="step-info">
                {% if app.session.get('training') is not empty and app.session.get('training').datetime is not empty %}
                    {{ app.session.get('training').datetime|date("d-m-Y H:i") }} <br>
                    {{ app.session.get('training').enabled ? '(confirmada)' : '(pendiente de confirmación)' }}
                {% endif %}
            </div>
        </div>
    </a>

    <a href="{{ path('users_training_competitors_list') }}">
        <div class="step{% if curPage == 'competitors' %} active{% endif %}">
            <span>4</span>

            <div class="step-state{{ app.session.get('training') is not empty and app.session.get('training').competitors is not empty ? ' completed' }}"></div>

            <div class="step-info">
                {% if app.session.get('training') is not empty %}
                    {{ app.session.get('training').competitors|length }}
                    participante{{ app.session.get('training').competitors|length > 1 ? 's' }}
                {% endif %}
            </div>
        </div>
    </a>
</div>

{% endblock %}