{% extends "users/layout.html.twig" %}

{% block title %}
    Mis formaciones {{ parent() }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('assets/css/training.css') }}" />
{% endblock %}

{% block body %}
    <div class="text-center main-title mx-auto my-5">
        <h3 class="text-center mt-4 mb-3">MIS FORMACIONES</h3>
    </div>

    <div class="table-responsive px-3">
        <table class="table training-list mx-auto ">
        <tr>
            <th>Última edición</th>
            <th>Nº bloques</th>
            <th>Nº participantes</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>

        {% for training in trainings %}
            <tr>
                <td>{{ training.updatedAt|date("d-m-Y H:i") }}</td>
                <td>{{ training.blocks|length }} bloques</td>
                <td>{{ training.competitors|length }} participantes</td>
                <td>{{ training.datetime|date("d-m-Y H:i") }}</td>
                <td class="d-flex justify-content-center">
                    <span class="training-status {{ training.getStatus()['color'] }}">
                        {{ training.getStatus()['label'] }}
                    </span>
                </td>
                <td>
                    <a href="{{ path('users_training_edit', {idTraining : training.id}) }}">Editar</a> |
                    <a class="text-danger" href="{{ path('users_training_delete', {idTraining : training.id}) }}">Borrar</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}